@import "includes";

@mixin container-grid {
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
		grid-auto-rows: 3rem;

		margin: unset;
		padding: unset;
	}
}

.icon-list {
	margin-block-start: 0.5em;

	.container {
		gap: $gutter;
	}

	&.scroll {
		@media (max-width: #{$tablet-small}) {
			overflow-x: hidden;
			margin: 0 (-1 * $gutter);

			.container {
				width: 100%;

				padding: 0 $gutter $gutter;

				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: nowrap;

				overflow: auto;

				scroll-snap-type: x proximity;
				scroll-padding: $gutter;
			}
		}
	}

	@media (max-width: #{$mobile}) {
		&:not(.scroll) {
			.container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
			}
		}
	}

	@media (min-width: #{$tablet-small}) {
		@include container-grid();
	}
}
