.Profile {
	display: grid;

	grid-template-columns: 8em 1fr;
	grid-template-rows: repeat(2, 4em);
	grid-template-areas: "Picture Name" "Picture Email";
	grid-gap: 0.5em;
}

.Picture {
	grid-area: Picture;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* padding: ; */
}

.Name {
	grid-area: Name;
	align-self: flex-end;
}

.Email {
	grid-area: Email;
	align-self: flex-start;
}

.Email {
	color: var(--link-color);
	text-decoration: none;
}
