$dark: #141414;
$light: #fff;
$gray: #808080;
$blue: #0080ff;

#root {
	--background: #{$light};
	--text: #{$dark};
	--secondary: #{$gray};
	--link: #{$blue};

	@media (prefers-color-scheme: dark) {
		--background: #{$dark};
		--text: #{$light};
	}
}

$background: var(--background);
$text: var(--text);
$secondary: var(--secondary);
$link: var(--link);
