@import "includes";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: $text;
	background-color: $background;

	font-family: Heebo, sans-serif;
}

::selection {
	color: $background;
	background-color: $text;
}

main {
	width: 100%;
	max-width: 210mm;

	margin: 1em auto;
	padding: 0 1em;

	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 1em;
}

@font-face {
	font-family: Heebo;
	src: url("/fonts/Heebo.ttf");
	font-display: swap;
}
