@import "includes";

.icon {
	height: 3rem;
	width: 3rem;

	cursor: pointer;
	transition: fill 0.2s;

	&:not([fill]),
	&:hover:not([fill]) {
		fill: $text;
	}

	@media (min-width: #{$tablet-small}) {
		&:not(:hover) {
			fill: $secondary;
		}
	}
}

:export {
	text: $text;
	background: $background;
}
