@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.icon {
	color: $text;

	height: 3rem;
	width: 3rem;

	cursor: pointer;
	transition: fill 0.2s;

	@media #{$tablet-small} {
		&:not(:hover) {
			fill: $secondary;
		}
	}
}
