@import "includes";

.anchor {
	color: $link;
	font-weight: 600;
	font-style: normal;

	text-decoration: none;

	position: relative;

	display: inline-block;

	&::selection {
		color: $link;
		background-color: $text;
	}

	&.underline {
		text-decoration: none;
		display: inline;

		background-image: linear-gradient($link, $link);
		background-repeat: no-repeat;

		background-position-y: 90%;
		background-position-x: 0%;
		background-size: 100% 2px;

		@media (min-width: #{$tablet-small}) {
			background-position-x: 100%;
			background-size: 0% 2px;
			transition: background-size 0.1s;

			transition-timing-function: linear;

			&:hover {
				background-position-x: 0%;
				background-size: 100% 2px;
				transition: background-size 0.1s;
			}
		}
	}
}
