@import 'includes';

.anchor {
	--color: #{$link};
	color: var(--color);
	font-weight: 600;
	font-style: normal;

	text-decoration: none;

	position: relative;

	display: inline-block;

	&::selection {
		color: var(--color);
		background-color: $text;
	}

	&.underline {
		display: inline;

		text-decoration: underline;

		@media (min-width: #{$tablet-small}) {
			text-decoration: none;
			background-image: linear-gradient(var(--color), var(--color)),
				linear-gradient($background, $background);
			background-repeat: no-repeat;

			background-position-y: 90%, 0;
			background-position-x: 100%, 0;
			background-size: 0% 2px, 100% 100%;
			transition: background-size 0.2s;

			transition-timing-function: ease;

			&:hover,
			&:focus {
				background-position-x: 0%, 0;
				background-size: 100% 2px, 100% 100%;
			}
		}
	}

	&.permalink {
		--color: #{$text};
		text-decoration: none;
	}
}
