@import "includes";

.anchor {
	display: inline-flex;
	gap: 0.5rem;

	color: $link;
	font-weight: 600;
	font-style: normal;
	text-decoration: underline;

	transition: color 0.1s;

	&::selection {
		color: $text;
		background-color: $link;
	}
}
