@import "includes";

.anchor {
	color: $link;
	font-weight: 600;
	font-style: normal;

	text-decoration: none;

	position: relative;

	display: inline-block;

	&::selection {
		color: $link;
		background-color: $text;
	}

	&.underline::after {
		display: block;

		background-color: $link;

		content: "";

		height: 2px;
		width: 100%;

		transition: width 0.2s cubic-bezier(0.85, 0, 0.15, 1);
	}

	@media (min-width: #{$tablet-small}) {
		&.underline::after {
			width: 0%;
		}

		&.underline:hover::after {
			width: 100%;
		}
	}
}
