@import "includes";

.header {
	display: grid;
	gap: 0 0.5em;
	grid-template-columns: 1fr auto;
	grid-template-areas: "title image";

	margin-bottom: 1rem;
}

.image {
	grid-area: image;

	align-self: center;

	max-width: 128px;
	max-height: 128px;
	width: 100%;
	height: 100%;

	display: none;
	/* tihi no more face for you */
}

.title {
	grid-area: title;

	margin: 0;

	align-self: center;

	word-break: normal;

	font-size: clamp(2em, 8vw, 5em);
}
