@import "colors.module";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&::selection {
		background-color: $color;
		color: $background-color;
	}
}

body {
	font-family: Heebo;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $background-color;
	color: $color;

	width: 100%;
	max-width: 210mm;
	margin: 0 auto;
	padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0;
}

@font-face {
	font-family: Heebo;
	src: url("/fonts/Heebo.ttf");
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 1.2em;
	}
}
