@import "../../colors.module";

.link {
	text-decoration: none;

	padding: 0.5em 0;

	transition: color 0.05s;
	color: $link-color;
	font-weight: 600;

	&:hover {
		color: $color;
		text-decoration: underline;
	}
}
