.Link {
	color: var(--color);
	text-decoration: none;

	padding: 0.5em 0;

	transition: color 0.05s;
	color: var(--link-color);
	font-weight: 500;
}

.Interpunct {
	margin: 0 0.75em;
	user-select: none;
}
